
# Large datasets
Pratical-Projects/Structured Information Processing Pipeline/Collections Usadas/*.json

# Large datasets
Pratical-Projects/Structured Information Processing Pipeline/Collections Usadas/*.json
Structured Information Processing Pipeline/Collections Usadas/*.json

# Large datasets (ignore)
Pratical-Projects/Structured Information Processing Pipeline/Collections Usadas/
Pratical-Projects/Structured Information Processing Pipeline/JSON + XML/

# Large datasets (ignore)
Pratical-Projects/Structured Information Processing Pipeline/Collections Usadas/
Pratical-Projects/Structured Information Processing Pipeline/JSON + XML/
